################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ZYWC.ZW/ZYWC.ZW.Core/bin/Debug
/ZYWC.ZW/ZYWC.ZW.Core/obj/Debug/ZYWC.ZW.Core.dll
/ZYWC.ZW/ZYWC.ZW.Core/obj/Debug/ZYWC.ZW.Core.pdb
/ZYWC.ZW/ZYWC.ZW.Core/obj/Debug
/ZYWC.ZW/ZYWC.ZW.Core.Analysis/bin/Debug
/ZYWC.ZW/ZYWC.ZW.Core.Analysis/obj/Debug
